.about-us {
  padding-top: 2.214285714285714em;
  padding-bottom: 4.142857142857143em;

  @media (min-width: @tablet-width) {
    padding-top: 4.466666666666667em;
    padding-bottom: 5.533333333333333em;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5em;
    padding-bottom: 5.4em;
  }

  &__title {
    font-size: 1.785714285714286rem;
    line-height: 30px;
    margin: 0;
    margin-bottom: 1.12em;

    @media (min-width: @tablet-width) {
      line-height: 50px;
      font-size: 2.866666666666667rem;
      margin-bottom: 0.9534883720930233em;
    }

    @media (min-width: @desktop-width) {
      font-size: 3.533333333333333rem;
      line-height: 57px;
      margin-bottom: 0.6em;
    }
  }

  &__wrapper {
    @media (min-width: @desktop-width) {
      max-width: 640px;
      display: flex;
      flex-direction: column;
      margin-left: 175px;
    }
  }
}
