.benefits-list {
  .list-none();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.benefits-list__item {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    width: 47%;
  }

  &--eco {
    &::before {
      content: url("../img/icons/ecological.svg");
      display: block;
      margin-bottom: 19px;
    }

    @media (min-width: @tablet-width) {
      order: 1;
    }
  }

  &--price {
    &::before {
      content: url("../img/icons/price.svg");
      display: block;
      margin-bottom: 32px;
    }

    @media (min-width: @tablet-width) {
      order: 3;
    }
  }

  &--like {
    &::before {
      content: url(../img/icons/like.svg);
      display: block;
      margin-bottom: 26px;
    }

    @media (min-width: @tablet-width) {
      order: 5;
    }
  }

  &--related {
    &::before {
      content: url(../img/icons/related.svg);
      display: block;
      margin-bottom: 21px;
    }

    @media (min-width: @tablet-width) {
      order: 2;
    }
  }

  &--support {
    &::before {
      content: url(../img/icons/support.svg);
      display: block;
      margin-bottom: 32px;
    }

    @media (min-width: @tablet-width) {
      order: 4;
    }
  }

  &--gift {
    &::before {
      content: url(../img/icons/gift.svg);
      display: block;
      margin-bottom: 24px;
    }

    @media (min-width: @tablet-width) {
      order: 6;
    }
  }
}
