.catalog {
  padding-top: 30px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding: 75px 0 53px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 111px 0 57px 0;
  }
}

.catalog__popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}
