.contacts {
  padding-top: 38px;
  padding-bottom: 62px;

  @media (min-width: @tablet-width) {
    padding-top: 91px;
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &__container {
    padding: 0;
    position: relative;

    @media (min-width: @desktop-width) {
      max-width: 988px;
      margin: 0 auto;
      position: relative;
      padding-top: 150px;
      padding-bottom: 105px;
      padding-left: 63px;
    }
  }

  &__title {
    position: relative;
    font-size: 25px;
    margin: 0;
    margin-bottom: 28px;
    margin-left: 30px;

    @media (min-width: @tablet-width) {
      margin-bottom: 49px;
      margin-left: 50px;
      font-size: 43px;
      line-height: 50px;

      &::after {
        content: url("../img/icons/flag.svg");
        position: absolute;
        right: 24px;
        bottom: -5px;
      }
    }

    @media (min-width: @desktop-width) {
      font-size: 53px;
      line-height: 57px;
      margin: 0;
      margin-bottom: 35px;
      padding-left: 105px;

      &::after {
        left: 0;
        bottom: -15px;
      }
    }
  }

  &__data {
    margin-bottom: 62px;
    margin-left: 30px;
    margin-right: 30px;

    @media (min-width: @tablet-width) {
      margin-bottom: 49px;
      margin-left: 50px;
      margin-right: 50px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      width: 295px;
      gap: 28px;
      margin-bottom: 80px;
      margin-left: 110px;
    }
  }

  &__map {

    @media (min-width: @desktop-width) {
      margin: 0;
      display: block;
      position: absolute;
      right: 0;
      top: 78px;
    }
  }

  &__map-image {
    display: block;
    margin: 0 auto;
    width: 320px;
    height: 454px;

    @media (min-width: @tablet-width) {
      width: 768px;
      height: 457px;
    }

    @media (min-width: @desktop-width) {
      width: 527px;
    }
  }

  &__button {
    box-sizing: border-box;
    min-width: 260px;
    margin: 0 30px;
    margin-top: 54px;

    @media (min-width: 460px) {
      width: 400px;
      margin: 0 auto;
      margin-top: 54px;
    }

    @media (min-width: @tablet-width) {
      width: 230px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      margin-left: 110px;
    }
  }
}
