.contacts {
  padding-top: 2.714285714285714em;
  padding-bottom: 4.428571428571429em;

  @media (min-width: @tablet-width) {
    padding-top: 6.066666666666667em;
    padding-bottom: 3.8em;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }

  &__container {
    padding: 0;
    position: relative;

    @media (min-width: @desktop-width) {
      max-width: 988px;
      margin: 0 auto;
      position: relative;
      padding-top: 150px;
      padding-bottom: 105px;
      padding-left: 63px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    position: relative;
    font-size: 1.785714285714286rem;
    margin: 0;
    margin-bottom: 1.12em;
    margin-left: 1.2em;

    @media (min-width: @tablet-width) {
      font-size: 2.866666666666667rem;
      line-height: 50px;

      &::after {
        content: url("../img/icons/flag.svg");
        position: absolute;
        right: 24px;
        bottom: -5px;
      }
    }

    @media (min-width: @desktop-width) {
      font-size: 53px;
      line-height: 57px;
      margin: 0;
      margin-bottom: 40px;
    }
  }

  &__data {
    margin-bottom: 4.428571428571429em;
    margin-left: 2.142857142857143em;
    margin-right: 2.142857142857143em;

    @media (min-width: @tablet-width) {
      margin-bottom: 3.266666666666667em;
      margin-left: 3.333333333333333em;
      margin-right: 3.333333333333333em;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      width: 295px;
      gap: 28px;
      margin-bottom: 80px;
    }
  }

  &__map {
    display: block;
    margin: 0 auto;

    @media (min-width: @desktop-width) {
      margin: 0;
      position: absolute;
      right: 0;
      top: 71px;
    }
  }

  &__map-image {
    width: 320px;
    height: 454px;

    @media (min-width: @tablet-width) {
      width: 768px;
      height: 457px;
    }

    @media (min-width: @desktop-width) {
      width: 575px;
    }
  }

  &__button {
    box-sizing: border-box;
    min-width: 260px;
    margin: 0 1.666666666666667em;
    margin-top: 3em;

    @media (min-width: 460px) {
      width: 400px;
      margin: 0 auto;
      margin-top: 3em;
    }

    @media (min-width: @tablet-width) {
      width: 230px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}
