.data {
  margin-top: 0;
  color: var(--black-light);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  row-gap: 30px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }

  @media (min-width: @desktop-width) {
    row-gap: 30px;
  }
}

.data__block {
  display: grid;
  grid-template-columns: 78px 1fr;
  grid-template-rows: min-content min-content;
}

.data__title {
  line-height: 30px;
}

.data__value {
  margin: 0;
  line-height: 30px;
}

.data__link-email {
  color: var(--black-light);
  text-decoration: none;
  padding-bottom: 3px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 7px;
  }

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--green);
    position: absolute;
    bottom: 0;
  }

  &:hover {
    color: var(--green-hover);
  }

  &:active {
    color: var(--green-hover);

    &::before {
      content: "";
      opacity: 0.1;
    }
  }
}

.data__address {
  font-style: normal;
}
