.data {
  margin-top: 0;
  color: var(--black-light);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  row-gap: 35px;
  column-gap: 25px;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }

  &__block {
    display: grid;
    grid-template-columns: 76px 1fr;
    grid-template-rows: min-content min-content;
  }

  &__title {
    line-height: 30px;
  }

  &__value {
    margin: 0;
    line-height: 30px;
  }

  &__link-email {
    color: var(--black-light);
    text-decoration: none;
    padding-bottom: 3px;
    position: relative;

    @media (min-width: @tablet-width) {
      padding-bottom: 7px;
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--green);
      position: absolute;
      bottom: 0;
    }

    &:hover {
      color: var(--green-hover);
    }

    &:active {
      color: var(--green-hover);

      &::before {
        content: "";
        opacity: 0.1;
      }
    }
  }

  &__address {
    font-style: normal;
  }
}
