.events-menu {
  @media (min-width: @desktop-width) {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 65px;
    background-color: var(--gray-back);
  }
}

.events-menu__link {
  padding: 19px 0;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
