.form {
  &__type {
    margin-bottom: 31px;
  }

  &__color {
    margin-bottom: 33px;
  }

  &__user {
    margin-bottom: 35px;
  }

  &__user-data {
    margin-bottom: 35px;
  }

  &__extra {
    margin-bottom: 17px;
  }

  &__notice {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: var(--black-light);
    margin-bottom: 30px;
  }

  &__button {
    width: 100%;
  }
}
