.headline {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-size: 1.78571429rem;
    line-height: 30px;

    @media (min-width: @tablet-width) {
      font-size: 2.866666666666667rem;
      line-height: 50px;
    }
  }

  &__paragraph {
    margin: 0;
    line-height: 20px;
    font-size: 1.21428571rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--green);

    @media (min-width: @tablet-width) {
      width: 100px;
      text-align: center;
    }
  }
}
