.main-menu {
  position: relative;
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 21px 0;
    border-top: 2px solid var(--gray);
    background-color: var(--gray-back);

    &__item {
      flex-grow: 1;
    }

    &::before {
      content: "";
    }
  }
}
