.main-header {
  position: relative;
  background-color: var(--white);
  overflow: hidden;

  @media (min-width: @tablet-width) {
    background-color: var(--gray-back);
  }
}

.main-header__container {
  padding: 0;
}
