.menu {
  .list-none();
  font-size: 17px;

  &--unshow {
    display: none;
  }

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.menu__item {
  border-bottom: 1px solid var(--gray);

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  color: var(--black);
  padding: 29px 0 27px 76px;
  font-weight: bold;

  @media (min-width: @tablet-width) {
    text-align: start;
    padding: 0;
  }
}
