.menu {
  .list-none();
  font-size: 1.214285714285714rem;
  display: none;

  @media (min-width: @tablet-width) {
    font-size: 100%;
  }

  &__item {
    border-bottom: 1px solid var(--gray);

    @media (min-width: @tablet-width) {
      border-bottom: none;
    }
  }

  &__link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: 2.071428571428571rem 0 1.928571428571429rem 0;
    font-weight: bold;

    @media (min-width: @tablet-width) {
      text-align: start;
      padding: 0;

      &--end {
        text-align: end;
      }
    }
  }
}
