.navigation {
  &__info {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "logo user"
      "main parag";
    align-items: center;

    &__logo-burger {
      grid-area: logo;
    }

    &__main-menu {
      grid-area: main;
      position: absolute;
      top: 20px;
    }

    &__user-menu {
      grid-area: user;
    }

    &__info {
      grid-area: parag;
      display: block;
      margin: 0;
      position: absolute;
      top: 20px;
      right: 0;
      margin-left: auto;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "main logo user"
        "events . parag";

      &__events-menu {
        grid-area: events;
        position: absolute;
        top: 20px;
      }

      &__main-menu {
        position: static;
      }
    }
  }
}
