.navigation {
  &__events-menu {
    display: none;
  }

  &__info {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      "logo user"
      "main parag";
    align-items: center;

    &__logo-burger {
      grid-area: logo;
    }

    &__main-menu {
      grid-area: main;
      display: flex;
      position: absolute;
      width: 100%;
      top: 20px;

      .menu__item {
        flex-grow: 1;
      }
    }

    &__user-menu {
      grid-area: user;
      display: flex;

      .menu__item {
        flex-grow: 1;
      }

      .menu__link-basket {
        text-align: end;
      }
    }

    &__info {
      grid-area: parag;
      display: block;
      margin: 0;
      position: absolute;
      top: 20px;
      right: 0;
      margin-left: auto;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr auto;
      grid-template-areas:
        "main logo user"
        "events . parag";

      &__events-menu {
        grid-area: events;
        position: absolute;
        width: 100%;
        top: 20px;
        display: flex;

        .menu__item {
          flex-grow: 1;
        }
      }

      &__main-menu {
        position: static;
        justify-content: space-between;

        .menu__item {
          flex-grow: 0;
        }
      }
    }
  }
}
