.page-body {
  font-family: "Open Sans", Arial, sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.page-body__header {
  background-color: var(--white);
  grid-area: header;
}

.page-body__main {
  grid-area: main;
}

.page-body__footer {
  grid-area: footer;
}
