.review-wrapper {

  &__title {
    margin: 0;
    font-size: 1.785714285714286rem;
    line-height: 30px;
    margin-bottom: 0.56em;
  }

  &__paragraph {
    color: var(--black-light);
    margin: 0;
    font-size: 1.071428571428571rem;
    line-height: 30px;
    margin-bottom: 2.2em;
  }

  &__user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.142857142857143em;

    @media (min-width: @tablet-width) {

    }
  }

  &__name-user {
    display: block;
    color: var(--black);
    font-size: 1.214285714285714rem;
    line-height: 24px;
    font-weight: bold;
  }

  &__email-user {
    display: block;
    color: var(--black-light);
    text-decoration: none;
    font-size: 1.214285714285714rem;
    line-height: 30px;
  }

  &__buttons-slider {
    margin-bottom: 2.714285714285714em;
  }

  &__button {
    width: 100%;
    margin: 0 auto;
    max-width: 500px;
  }

  &__buttons-slider {
    width: 100%;
    margin: 0 auto 2.714285714285714em;
    max-width: 500px;
  }
}
