.review-wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
      "title button"
      "parag parag"
      "info slider";
  }

  @media (min-width: @desktop-width) {
    padding-left: 11.66666666666667em;
    padding-top: 5.2em;
    padding-bottom: 6.4em;
    background: url(../img/back-image-review.jpg) no-repeat;
  }

  &__title {
    margin: 0;
    font-size: 1.785714285714286rem;
    line-height: 30px;
    margin-bottom: 0.56em;
    @media (min-width: @tablet-width) {
      grid-area: title;
      line-height: 50px;
      font-size: 2.866666666666667rem;
      margin: 0;
    }

    @media (min-width: @desktop-width) {
      font-size: 3.533333333333333rem;
      line-height: 57px;
    }
  }

  &__paragraph {
    color: var(--black-light);
    margin: 0;
    font-size: 1.071428571428571rem;
    line-height: 30px;
    margin-bottom: 2.2em;

    @media (min-width: @tablet-width) {
      grid-area: parag;
      font-size: 1.133333333333333rem;
      margin: 1.5em 1.647058823529412em 2.8em 0;
    }
  }

  &__user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.142857142857143em;
    column-gap: 20px;

    @media (min-width: @tablet-width) {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      grid-area: info;
    }
  }

  &__name-user {
    display: block;
    color: var(--black);
    font-size: 1.214285714285714rem;
    line-height: 24px;
    font-weight: bold;
  }

  &__email-user {
    display: block;
    color: var(--black-light);
    text-decoration: none;
    font-size: 1.214285714285714rem;
    line-height: 30px;
  }

  &__button {
    width: 100%;
    margin: 0 auto;
    max-width: 400px;

    @media (min-width: @tablet-width) {
      width: 175px;
      margin: 0;
      margin-left: auto;
      grid-area: button;
    }
  }

  &__buttons-slider {
    width: 100%;
    min-height: 52px;
    margin: 0 auto 2.714285714285714em;
    grid-area: slider;
    max-width: 400px;

    @media (min-width: @tablet-width) {
      width: 175px;
      margin: 0;
      margin-left: auto;
    }
  }
}
