.social-list {
  --gray: #E5E5E5;
  .list-none();
  display: flex;
  column-gap: 29px;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--gray);

  @media (min-width: @tablet-width) {
    padding: 0;
    justify-content: flex-start;
    border: none;
  }
}
