.types-goods {
  .list-none();
  font-size: 19px;
  background-color: var(--green);
  margin-top: auto;

  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
  }
}

.types-goods__link {
  color: var(--white);
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 29px 36px 31px 30px;
  background-color: var(--green);
  min-height: 103px;

  &:hover {
    transform: translateY(-7px);
    height: calc(100% + 7px);
    background-color: var(--green-light);

    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 0.6;
    }
  }

  &--interior {
    &::after {
      content: url("../img/icons/interior.svg");
      position: absolute;
      display: block;
      width: 40px;
      height: 62px;
      top: 50%;
      transform: translateY(-50%);
      right: 36px;
      opacity: 0.8;
    }
  }

  &--toy {
    &::after {
      content: url("../img/icons/toy.svg");
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      top: 50%;
      transform: translateY(-50%);
      right: 35px;
      opacity: 0.8;
    }
  }

  &--back-darker {
    background-color: var(--green-dark);

    &:hover {
      background-color: var(--green-hover);
    }
  }

  @media (min-width: @tablet-width) {
    padding: 25px 80px 34px 37px;
    min-height: 119px;
  }
}

.types-goods__span {
  display: block;
  width: 130px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
