.types-goods {
  .list-none();
  width: 100%;
  font-size: 19px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: var(--green);

  @media (min-width: 550px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  &__item {
    &:hover {
      transform: translateY(-7px);
    }
  }

  &__link {
    color: var(--white);
    text-decoration: none;
    display: flex;
    padding-left: 30px;
    padding: 24px 36px 31px 30px;
    background-color: var(--green);

    &--back-darker {
      background-color: var(--green-dark);
    }

    @media (min-width: @tablet-width) {
      padding: 25px 36px 34px 37px;
    }
  }

  &__link--interior {
    position: relative;

    &::after {
      content: url("../img/icons/interior.svg");
      position: absolute;
      display: block;
      width: 40px;
      height: 62px;
      top: 50%;
      transform: translateY(-50%);
      right: 36px;
    }
  }

  &__link--toy {
    position: relative;

    &::after {
      content: url("../img/icons/toy.svg");
      position: absolute;
      display: block;
      width: 60px;
      height: 60px;
      top: 50%;
      transform: translateY(-50%);
      right: 27px;
    }
  }

  &__span {
    display: block;
    width: 130px;
    font-weight: 700;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
