.user-menu {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__item {
      flex-grow: 1;
    }

    &__span {
      display: none;
    }

    &__icon-search {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__link-basket {
      padding: 20px 0;
    }

    &__basket {
      margin-right: 31px;
      margin-left: 33px;
    }

    &__search {
      position: relative;
      padding: 44px 40px;
      border: 2px solid var(--gray);
    }
  }
}
