:root {
  font-size: 0.82353em;
  --green: #63D1BB;
  --green-dark: #56c3b2;
  --black: #000000;
  --black-light: #444444;
  --gray: #ECECEC;
  --gray-back: #F9F9F9;
  --white: #fff;

  @media (min-width: @tablet-width) {
    font-size: 0.884em;
  }
}
